.elementor-2
  .elementor-element.elementor-element-5440421b
  > .elementor-container {
  min-height: 450px;
}
.elementor-2
  .elementor-element.elementor-element-5440421b:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2
  .elementor-element.elementor-element-5440421b
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2023/06/geeks-banner.jpg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-2
  .elementor-element.elementor-element-5440421b
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.46;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-element-5440421b {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-2
  .elementor-element.elementor-element-24e71bfd
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Helvetica", Sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-38f6160d
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Helvetica", Sans-serif;
  font-size: 42px;
  font-weight: 600;
}
.elementor-2 .elementor-element.elementor-element-db8d5d8 {
  color: #ffffff;
}
.elementor-2 .elementor-element.elementor-element-262d4091 .elementor-button {
  font-family: "Helvetica", Sans-serif;
  font-size: 19px;
  font-weight: 400;
}
.elementor-2 .elementor-element.elementor-element-4ca5f56a {
  padding: 30px 10px 30px 10px;
}
.elementor-bc-flex-widget
  .elementor-2
  .elementor-element.elementor-element-1282dd07.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-2
  .elementor-element.elementor-element-1282dd07.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-2
  .elementor-element.elementor-element-22ff83cd
  .elementor-heading-title {
  font-family: "Helvetica", Sans-serif;
  font-weight: 600;
}
.elementor-2 .elementor-element.elementor-element-3b1d49c7 {
  font-family: "Helvetica", Sans-serif;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-30e25c59
  .elementor-heading-title {
  font-family: "Helvetica", Sans-serif;
  font-weight: 600;
}
.elementor-2 .elementor-element.elementor-element-6f180072 {
  text-align: left;
}
.elementor-2
  .elementor-element.elementor-element-6f180072
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Helvetica", Sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-6f180072
  > .elementor-widget-container {
  padding: 10px 10px 10px 10px;
  background-color: #75583f;
}
.elementor-2 .elementor-element.elementor-element-7a25b734 {
  font-family: "Helvetica", Sans-serif;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-583d4811
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-2
  .elementor-element.elementor-element-75f49537.elementor-view-stacked
  .elementor-icon {
  background-color: #75583f;
}
.elementor-2
  .elementor-element.elementor-element-75f49537.elementor-view-framed
  .elementor-icon,
.elementor-2
  .elementor-element.elementor-element-75f49537.elementor-view-default
  .elementor-icon {
  fill: #75583f;
  color: #75583f;
  border-color: #75583f;
}
.elementor-2 .elementor-element.elementor-element-75f49537 {
  --icon-box-icon-margin: 15px;
}
.elementor-2
  .elementor-element.elementor-element-75f49537
  .elementor-icon-box-title,
.elementor-2
  .elementor-element.elementor-element-75f49537
  .elementor-icon-box-title
  a {
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-75f49537
  .elementor-icon-box-description {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-75f49537
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}
.elementor-2
  .elementor-element.elementor-element-140ed7b5
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-2
  .elementor-element.elementor-element-4475c723.elementor-view-stacked
  .elementor-icon {
  background-color: #75583f;
}
.elementor-2
  .elementor-element.elementor-element-4475c723.elementor-view-framed
  .elementor-icon,
.elementor-2
  .elementor-element.elementor-element-4475c723.elementor-view-default
  .elementor-icon {
  fill: #75583f;
  color: #75583f;
  border-color: #75583f;
}
.elementor-2 .elementor-element.elementor-element-4475c723 {
  --icon-box-icon-margin: 15px;
}
.elementor-2
  .elementor-element.elementor-element-4475c723
  .elementor-icon-box-title,
.elementor-2
  .elementor-element.elementor-element-4475c723
  .elementor-icon-box-title
  a {
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-4475c723
  .elementor-icon-box-description {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-4475c723
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}
.elementor-2
  .elementor-element.elementor-element-744bb8ad
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-2
  .elementor-element.elementor-element-221655e8.elementor-view-stacked
  .elementor-icon {
  background-color: #75583f;
}
.elementor-2
  .elementor-element.elementor-element-221655e8.elementor-view-framed
  .elementor-icon,
.elementor-2
  .elementor-element.elementor-element-221655e8.elementor-view-default
  .elementor-icon {
  fill: #75583f;
  color: #75583f;
  border-color: #75583f;
}
.elementor-2 .elementor-element.elementor-element-221655e8 {
  --icon-box-icon-margin: 15px;
}
.elementor-2
  .elementor-element.elementor-element-221655e8
  .elementor-icon-box-title,
.elementor-2
  .elementor-element.elementor-element-221655e8
  .elementor-icon-box-title
  a {
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-221655e8
  .elementor-icon-box-description {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-221655e8
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}
.elementor-2 .elementor-element.elementor-element-6e9415dc {
  margin-top: 15px;
  margin-bottom: 0px;
}
.elementor-2
  .elementor-element.elementor-element-5bd6328c
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-2
  .elementor-element.elementor-element-79496385.elementor-view-stacked
  .elementor-icon {
  background-color: #75583f;
}
.elementor-2
  .elementor-element.elementor-element-79496385.elementor-view-framed
  .elementor-icon,
.elementor-2
  .elementor-element.elementor-element-79496385.elementor-view-default
  .elementor-icon {
  fill: #75583f;
  color: #75583f;
  border-color: #75583f;
}
.elementor-2 .elementor-element.elementor-element-79496385 {
  --icon-box-icon-margin: 15px;
}
.elementor-2
  .elementor-element.elementor-element-79496385
  .elementor-icon-box-title,
.elementor-2
  .elementor-element.elementor-element-79496385
  .elementor-icon-box-title
  a {
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-79496385
  .elementor-icon-box-description {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-79496385
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}
.elementor-2
  .elementor-element.elementor-element-413d6520
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-2
  .elementor-element.elementor-element-48edc15f.elementor-view-stacked
  .elementor-icon {
  background-color: #75583f;
}
.elementor-2
  .elementor-element.elementor-element-48edc15f.elementor-view-framed
  .elementor-icon,
.elementor-2
  .elementor-element.elementor-element-48edc15f.elementor-view-default
  .elementor-icon {
  fill: #75583f;
  color: #75583f;
  border-color: #75583f;
}
.elementor-2 .elementor-element.elementor-element-48edc15f {
  --icon-box-icon-margin: 15px;
}
.elementor-2
  .elementor-element.elementor-element-48edc15f
  .elementor-icon-box-title,
.elementor-2
  .elementor-element.elementor-element-48edc15f
  .elementor-icon-box-title
  a {
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-48edc15f
  .elementor-icon-box-description {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-48edc15f
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}
.elementor-2
  .elementor-element.elementor-element-7541ce99
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-2
  .elementor-element.elementor-element-1f65b1a2.elementor-view-stacked
  .elementor-icon {
  background-color: #75583f;
}
.elementor-2
  .elementor-element.elementor-element-1f65b1a2.elementor-view-framed
  .elementor-icon,
.elementor-2
  .elementor-element.elementor-element-1f65b1a2.elementor-view-default
  .elementor-icon {
  fill: #75583f;
  color: #75583f;
  border-color: #75583f;
}
.elementor-2 .elementor-element.elementor-element-1f65b1a2 {
  --icon-box-icon-margin: 15px;
}
.elementor-2
  .elementor-element.elementor-element-1f65b1a2
  .elementor-icon-box-title,
.elementor-2
  .elementor-element.elementor-element-1f65b1a2
  .elementor-icon-box-title
  a {
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-1f65b1a2
  .elementor-icon-box-description {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-1f65b1a2
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}
.elementor-2 .elementor-element.elementor-element-429465cd {
  margin-top: 15px;
  margin-bottom: 0px;
}
.elementor-2
  .elementor-element.elementor-element-9774bcc
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-2
  .elementor-element.elementor-element-5533537c.elementor-view-stacked
  .elementor-icon {
  background-color: #75583f;
}
.elementor-2
  .elementor-element.elementor-element-5533537c.elementor-view-framed
  .elementor-icon,
.elementor-2
  .elementor-element.elementor-element-5533537c.elementor-view-default
  .elementor-icon {
  fill: #75583f;
  color: #75583f;
  border-color: #75583f;
}
.elementor-2 .elementor-element.elementor-element-5533537c {
  --icon-box-icon-margin: 15px;
}
.elementor-2
  .elementor-element.elementor-element-5533537c
  .elementor-icon-box-title,
.elementor-2
  .elementor-element.elementor-element-5533537c
  .elementor-icon-box-title
  a {
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-5533537c
  .elementor-icon-box-description {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-5533537c
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}
.elementor-2
  .elementor-element.elementor-element-2cc52e2
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-2
  .elementor-element.elementor-element-6cbdad60.elementor-view-stacked
  .elementor-icon {
  background-color: #75583f;
}
.elementor-2
  .elementor-element.elementor-element-6cbdad60.elementor-view-framed
  .elementor-icon,
.elementor-2
  .elementor-element.elementor-element-6cbdad60.elementor-view-default
  .elementor-icon {
  fill: #75583f;
  color: #75583f;
  border-color: #75583f;
}
.elementor-2 .elementor-element.elementor-element-6cbdad60 {
  --icon-box-icon-margin: 15px;
}
.elementor-2
  .elementor-element.elementor-element-6cbdad60
  .elementor-icon-box-title,
.elementor-2
  .elementor-element.elementor-element-6cbdad60
  .elementor-icon-box-title
  a {
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-6cbdad60
  .elementor-icon-box-description {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-6cbdad60
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}
.elementor-2
  .elementor-element.elementor-element-325eba85
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-2
  .elementor-element.elementor-element-271356d7.elementor-view-stacked
  .elementor-icon {
  background-color: #75583f;
}
.elementor-2
  .elementor-element.elementor-element-271356d7.elementor-view-framed
  .elementor-icon,
.elementor-2
  .elementor-element.elementor-element-271356d7.elementor-view-default
  .elementor-icon {
  fill: #75583f;
  color: #75583f;
  border-color: #75583f;
}
.elementor-2 .elementor-element.elementor-element-271356d7 {
  --icon-box-icon-margin: 15px;
}
.elementor-2
  .elementor-element.elementor-element-271356d7
  .elementor-icon-box-title,
.elementor-2
  .elementor-element.elementor-element-271356d7
  .elementor-icon-box-title
  a {
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-271356d7
  .elementor-icon-box-description {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-271356d7
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}
.elementor-2 .elementor-element.elementor-element-4a8b2af1 {
  margin-top: 15px;
  margin-bottom: 0px;
}
.elementor-2
  .elementor-element.elementor-element-2319a88d
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-2
  .elementor-element.elementor-element-2e4afb40.elementor-view-stacked
  .elementor-icon {
  background-color: #75583f;
}
.elementor-2
  .elementor-element.elementor-element-2e4afb40.elementor-view-framed
  .elementor-icon,
.elementor-2
  .elementor-element.elementor-element-2e4afb40.elementor-view-default
  .elementor-icon {
  fill: #75583f;
  color: #75583f;
  border-color: #75583f;
}
.elementor-2 .elementor-element.elementor-element-2e4afb40 {
  --icon-box-icon-margin: 15px;
}
.elementor-2
  .elementor-element.elementor-element-2e4afb40
  .elementor-icon-box-title,
.elementor-2
  .elementor-element.elementor-element-2e4afb40
  .elementor-icon-box-title
  a {
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-2e4afb40
  .elementor-icon-box-description {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-2e4afb40
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}
.elementor-2
  .elementor-element.elementor-element-7c6b15fc
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-2
  .elementor-element.elementor-element-ce63c1.elementor-view-stacked
  .elementor-icon {
  background-color: #75583f;
}
.elementor-2
  .elementor-element.elementor-element-ce63c1.elementor-view-framed
  .elementor-icon,
.elementor-2
  .elementor-element.elementor-element-ce63c1.elementor-view-default
  .elementor-icon {
  fill: #75583f;
  color: #75583f;
  border-color: #75583f;
}
.elementor-2 .elementor-element.elementor-element-ce63c1 {
  --icon-box-icon-margin: 15px;
}
.elementor-2
  .elementor-element.elementor-element-ce63c1
  .elementor-icon-box-title,
.elementor-2
  .elementor-element.elementor-element-ce63c1
  .elementor-icon-box-title
  a {
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-ce63c1
  .elementor-icon-box-description {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-ce63c1
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}
.elementor-2
  .elementor-element.elementor-element-8afc91a
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-2
  .elementor-element.elementor-element-cb14af8.elementor-view-stacked
  .elementor-icon {
  background-color: #75583f;
}
.elementor-2
  .elementor-element.elementor-element-cb14af8.elementor-view-framed
  .elementor-icon,
.elementor-2
  .elementor-element.elementor-element-cb14af8.elementor-view-default
  .elementor-icon {
  fill: #75583f;
  color: #75583f;
  border-color: #75583f;
}
.elementor-2 .elementor-element.elementor-element-cb14af8 {
  --icon-box-icon-margin: 15px;
}
.elementor-2
  .elementor-element.elementor-element-cb14af8
  .elementor-icon-box-title,
.elementor-2
  .elementor-element.elementor-element-cb14af8
  .elementor-icon-box-title
  a {
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-cb14af8
  .elementor-icon-box-description {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-cb14af8
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}
.elementor-2 .elementor-element.elementor-element-398805c4 {
  margin-top: 15px;
  margin-bottom: 0px;
}
.elementor-2
  .elementor-element.elementor-element-81931bc
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-2
  .elementor-element.elementor-element-78fa5cb.elementor-view-stacked
  .elementor-icon {
  background-color: #75583f;
}
.elementor-2
  .elementor-element.elementor-element-78fa5cb.elementor-view-framed
  .elementor-icon,
.elementor-2
  .elementor-element.elementor-element-78fa5cb.elementor-view-default
  .elementor-icon {
  fill: #75583f;
  color: #75583f;
  border-color: #75583f;
}
.elementor-2 .elementor-element.elementor-element-78fa5cb {
  --icon-box-icon-margin: 15px;
}
.elementor-2
  .elementor-element.elementor-element-78fa5cb
  .elementor-icon-box-title,
.elementor-2
  .elementor-element.elementor-element-78fa5cb
  .elementor-icon-box-title
  a {
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-78fa5cb
  .elementor-icon-box-description {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-78fa5cb
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}
.elementor-2
  .elementor-element.elementor-element-4e9621d1
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-2
  .elementor-element.elementor-element-712caf73.elementor-view-stacked
  .elementor-icon {
  background-color: #75583f;
}
.elementor-2
  .elementor-element.elementor-element-712caf73.elementor-view-framed
  .elementor-icon,
.elementor-2
  .elementor-element.elementor-element-712caf73.elementor-view-default
  .elementor-icon {
  fill: #75583f;
  color: #75583f;
  border-color: #75583f;
}
.elementor-2 .elementor-element.elementor-element-712caf73 {
  --icon-box-icon-margin: 15px;
}
.elementor-2
  .elementor-element.elementor-element-712caf73
  .elementor-icon-box-title,
.elementor-2
  .elementor-element.elementor-element-712caf73
  .elementor-icon-box-title
  a {
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-712caf73
  .elementor-icon-box-description {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-712caf73
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}
.elementor-2
  .elementor-element.elementor-element-39d53d5f
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-2
  .elementor-element.elementor-element-2628e4a6.elementor-view-stacked
  .elementor-icon {
  background-color: #75583f;
}
.elementor-2
  .elementor-element.elementor-element-2628e4a6.elementor-view-framed
  .elementor-icon,
.elementor-2
  .elementor-element.elementor-element-2628e4a6.elementor-view-default
  .elementor-icon {
  fill: #75583f;
  color: #75583f;
  border-color: #75583f;
}
.elementor-2 .elementor-element.elementor-element-2628e4a6 {
  --icon-box-icon-margin: 15px;
}
.elementor-2
  .elementor-element.elementor-element-2628e4a6
  .elementor-icon-box-title,
.elementor-2
  .elementor-element.elementor-element-2628e4a6
  .elementor-icon-box-title
  a {
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-2628e4a6
  .elementor-icon-box-description {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-2628e4a6
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}
.elementor-2
  .elementor-element.elementor-element-e037640
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 10px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-2 .elementor-element.elementor-element-4ccdba71 {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-4ccdba71
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-4ccdba71
  > .elementor-widget-container {
  padding: 10px 10px 10px 10px;
  background-color: #75583f;
}
.elementor-2 .elementor-element.elementor-element-7fc45fe9 {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-7fc45fe9
  .elementor-heading-title {
  font-family: "Roboto", Sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.elementor-2 .elementor-element.elementor-element-109d19f4 .elementor-button {
  background-color: #75583f;
}
.elementor-2 .elementor-element.elementor-element-7dcba09b {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-7dcba09b
  .elementor-heading-title {
  font-family: "Roboto", Sans-serif;
  font-weight: 500;
}
.elementor-2 .elementor-element.elementor-element-4db7805e {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-4db7805e
  .elementor-heading-title {
  font-family: "Roboto", Sans-serif;
  font-weight: 500;
}
.elementor-2 .elementor-element.elementor-element-6e54c835 {
  --divider-border-style: solid;
  --divider-color: #00000026;
  --divider-border-width: 1px;
}
.elementor-2
  .elementor-element.elementor-element-6e54c835
  .elementor-divider-separator {
  width: 100%;
}
.elementor-2 .elementor-element.elementor-element-6e54c835 .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-2 .elementor-element.elementor-element-621a7ff1 {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-621a7ff1
  .elementor-heading-title {
  font-family: "Roboto", Sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.elementor-2 .elementor-element.elementor-element-5aecaf8c {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-5aecaf8c
  > .elementor-widget-container {
  margin: 0px 0px -20px 0px;
}
.elementor-2 .elementor-element.elementor-element-358bbdf4 {
  --divider-border-style: solid;
  --divider-color: #00000026;
  --divider-border-width: 1px;
}
.elementor-2
  .elementor-element.elementor-element-358bbdf4
  .elementor-divider-separator {
  width: 100%;
}
.elementor-2 .elementor-element.elementor-element-358bbdf4 .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-2 .elementor-element.elementor-element-13504964 {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-13504964
  .elementor-heading-title {
  font-family: "Roboto", Sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.elementor-2 .elementor-element.elementor-element-2fd2d9fc {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-2fd2d9fc
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-38547ad4 {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-38547ad4
  .elementor-heading-title {
  font-family: "Roboto", Sans-serif;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-6dcb5357:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2
  .elementor-element.elementor-element-6dcb5357
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #75583f;
}
.elementor-2 .elementor-element.elementor-element-6dcb5357 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 20px 20px 20px 20px;
}
.elementor-2
  .elementor-element.elementor-element-6dcb5357
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-element-24c8c180 {
  text-align: left;
}
.elementor-2
  .elementor-element.elementor-element-24c8c180
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Helvetica", Sans-serif;
  font-size: 28px;
  font-weight: 600;
}
.elementor-2 .elementor-element.elementor-element-4cb78379 {
  font-family: "Helvetica", Sans-serif;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-23b064f
  .elementor-heading-title {
  font-family: "Helvetica", Sans-serif;
  font-weight: 600;
}
.elementor-2
  .elementor-element.elementor-element-2486e0f6
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 0px 0px 0px 0px;
}
.elementor-2
  .elementor-element.elementor-element-878002a.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-2
  .elementor-element.elementor-element-878002a.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-2
  .elementor-element.elementor-element-878002a.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-2
  .elementor-element.elementor-element-878002a
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 100%;
}
.elementor-2
  .elementor-element.elementor-element-878002a
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-2
  .elementor-element.elementor-element-878002a
  .elementor-image-box-title {
  font-family: "Roboto", Sans-serif;
  font-size: 22px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-878002a
  .elementor-image-box-description {
  font-family: "Roboto", Sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-443dc22b
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 0px 0px 0px 0px;
}
.elementor-2
  .elementor-element.elementor-element-4d1b75.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-2
  .elementor-element.elementor-element-4d1b75.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-2
  .elementor-element.elementor-element-4d1b75.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-2
  .elementor-element.elementor-element-4d1b75
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 100%;
}
.elementor-2
  .elementor-element.elementor-element-4d1b75
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-2
  .elementor-element.elementor-element-4d1b75
  .elementor-image-box-title {
  font-family: "Roboto", Sans-serif;
  font-size: 22px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-4d1b75
  .elementor-image-box-description {
  font-family: "Roboto", Sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-526f4ae9
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 0px 0px 0px 0px;
}
.elementor-2
  .elementor-element.elementor-element-17dee8e8.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-2
  .elementor-element.elementor-element-17dee8e8.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-2
  .elementor-element.elementor-element-17dee8e8.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-2
  .elementor-element.elementor-element-17dee8e8
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 100%;
}
.elementor-2
  .elementor-element.elementor-element-17dee8e8
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-2
  .elementor-element.elementor-element-17dee8e8
  .elementor-image-box-title {
  font-family: "Roboto", Sans-serif;
  font-size: 22px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-17dee8e8
  .elementor-image-box-description {
  font-family: "Roboto", Sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.elementor-2 .elementor-element.elementor-element-1b0e275e {
  margin-top: 20px;
  margin-bottom: 0px;
}
.elementor-2
  .elementor-element.elementor-element-26a955d3
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 0px 0px 0px 0px;
}
.elementor-2
  .elementor-element.elementor-element-4ea48a9.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-2
  .elementor-element.elementor-element-4ea48a9.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-2
  .elementor-element.elementor-element-4ea48a9.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-2
  .elementor-element.elementor-element-4ea48a9
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 100%;
}
.elementor-2
  .elementor-element.elementor-element-4ea48a9
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-2
  .elementor-element.elementor-element-4ea48a9
  .elementor-image-box-title {
  font-family: "Roboto", Sans-serif;
  font-size: 22px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-4ea48a9
  .elementor-image-box-description {
  font-family: "Roboto", Sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-2df0435
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 0px 0px 0px 0px;
}
.elementor-2
  .elementor-element.elementor-element-6beaea.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-2
  .elementor-element.elementor-element-6beaea.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-2
  .elementor-element.elementor-element-6beaea.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-2
  .elementor-element.elementor-element-6beaea
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 100%;
}
.elementor-2
  .elementor-element.elementor-element-6beaea
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-2
  .elementor-element.elementor-element-6beaea
  .elementor-image-box-title {
  font-family: "Roboto", Sans-serif;
  font-size: 22px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-6beaea
  .elementor-image-box-description {
  font-family: "Roboto", Sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-3b55feb9
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 0px 0px 0px 0px;
}
.elementor-2
  .elementor-element.elementor-element-12519176.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-2
  .elementor-element.elementor-element-12519176.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-2
  .elementor-element.elementor-element-12519176.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-2
  .elementor-element.elementor-element-12519176
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 100%;
}
.elementor-2
  .elementor-element.elementor-element-12519176
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-2
  .elementor-element.elementor-element-12519176
  .elementor-image-box-title {
  font-family: "Roboto", Sans-serif;
  font-size: 22px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-12519176
  .elementor-image-box-description {
  font-family: "Roboto", Sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.elementor-2 .elementor-element.elementor-element-58dccbe6 {
  margin-top: 20px;
  margin-bottom: 0px;
}
.elementor-2
  .elementor-element.elementor-element-44448a13
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 0px 0px 0px 0px;
}
.elementor-2
  .elementor-element.elementor-element-6ebb9a5f.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-2
  .elementor-element.elementor-element-6ebb9a5f.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-2
  .elementor-element.elementor-element-6ebb9a5f.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-2
  .elementor-element.elementor-element-6ebb9a5f
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 100%;
}
.elementor-2
  .elementor-element.elementor-element-6ebb9a5f
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-2
  .elementor-element.elementor-element-6ebb9a5f
  .elementor-image-box-title {
  font-family: "Roboto", Sans-serif;
  font-size: 22px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-6ebb9a5f
  .elementor-image-box-description {
  font-family: "Roboto", Sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-477dcffe
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 0px 0px 0px 0px;
}
.elementor-2
  .elementor-element.elementor-element-1f62961e.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-2
  .elementor-element.elementor-element-1f62961e.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-2
  .elementor-element.elementor-element-1f62961e.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-2
  .elementor-element.elementor-element-1f62961e
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 100%;
}
.elementor-2
  .elementor-element.elementor-element-1f62961e
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-2
  .elementor-element.elementor-element-1f62961e
  .elementor-image-box-title {
  font-family: "Roboto", Sans-serif;
  font-size: 22px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-1f62961e
  .elementor-image-box-description {
  font-family: "Roboto", Sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-28284424
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 0px 0px 0px 0px;
}
.elementor-2
  .elementor-element.elementor-element-2f7b98ec.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-2
  .elementor-element.elementor-element-2f7b98ec.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-2
  .elementor-element.elementor-element-2f7b98ec.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-2
  .elementor-element.elementor-element-2f7b98ec
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 100%;
}
.elementor-2
  .elementor-element.elementor-element-2f7b98ec
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-2
  .elementor-element.elementor-element-2f7b98ec
  .elementor-image-box-title {
  font-family: "Roboto", Sans-serif;
  font-size: 22px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-2f7b98ec
  .elementor-image-box-description {
  font-family: "Roboto", Sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-1936647:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2
  .elementor-element.elementor-element-1936647
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #75583f;
}
.elementor-2 .elementor-element.elementor-element-1936647 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 20px 20px 20px 20px;
}
.elementor-2
  .elementor-element.elementor-element-1936647
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-element-d6b3a8d {
  text-align: left;
}
.elementor-2
  .elementor-element.elementor-element-d6b3a8d
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Helvetica", Sans-serif;
  font-size: 28px;
  font-weight: 600;
}
.elementor-2
  .elementor-element.elementor-element-573ef67
  .elementor-heading-title {
  font-family: "Helvetica", Sans-serif;
  font-size: 28px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-22cbc8f
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-2
  .elementor-element.elementor-element-988e6a5.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-2
  .elementor-element.elementor-element-988e6a5.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-2
  .elementor-element.elementor-element-988e6a5.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-2
  .elementor-element.elementor-element-988e6a5
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 100%;
}
.elementor-2
  .elementor-element.elementor-element-988e6a5
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-2
  .elementor-element.elementor-element-988e6a5
  .elementor-image-box-title {
  margin-bottom: 10px;
  font-family: "Helvetica", Sans-serif;
  font-size: 23px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-f916d8b
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-2
  .elementor-element.elementor-element-621fa5a.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-2
  .elementor-element.elementor-element-621fa5a.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-2
  .elementor-element.elementor-element-621fa5a.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-2
  .elementor-element.elementor-element-621fa5a
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 100%;
}
.elementor-2
  .elementor-element.elementor-element-621fa5a
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-2
  .elementor-element.elementor-element-621fa5a
  .elementor-image-box-title {
  margin-bottom: 10px;
  font-family: "Helvetica", Sans-serif;
  font-size: 23px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-a9b3f8f
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-2
  .elementor-element.elementor-element-c1370fa.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-2
  .elementor-element.elementor-element-c1370fa.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-2
  .elementor-element.elementor-element-c1370fa.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-2
  .elementor-element.elementor-element-c1370fa
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 100%;
}
.elementor-2
  .elementor-element.elementor-element-c1370fa
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-2
  .elementor-element.elementor-element-c1370fa
  .elementor-image-box-title {
  margin-bottom: 10px;
  font-family: "Helvetica", Sans-serif;
  font-size: 23px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-223d8a8:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2
  .elementor-element.elementor-element-223d8a8
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #75583f;
}
.elementor-2 .elementor-element.elementor-element-223d8a8 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 20px 20px 20px 20px;
}
.elementor-2
  .elementor-element.elementor-element-223d8a8
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-element-bbfcbb1 {
  text-align: left;
}
.elementor-2
  .elementor-element.elementor-element-bbfcbb1
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Helvetica", Sans-serif;
  font-size: 28px;
  font-weight: 600;
}
.elementor-2
  .elementor-element.elementor-element-f4ea2c8.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-end;
}
.elementor-2 .elementor-element.elementor-element-039800f .elementor-button {
  fill: #000000;
  color: #000000;
  background-color: #ffffff;
  border-style: none;
  border-radius: 3px 3px 3px 3px;
  padding: 15px 20px 15px 20px;
}
.elementor-2
  .elementor-element.elementor-element-039800f
  .elementor-button:hover,
.elementor-2
  .elementor-element.elementor-element-039800f
  .elementor-button:focus {
  color: #ffffff;
  background-color: #75583f;
  border-color: #75583f;
}
.elementor-2
  .elementor-element.elementor-element-039800f
  .elementor-button:hover
  svg,
.elementor-2
  .elementor-element.elementor-element-039800f
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
.elementor-2 .elementor-element.elementor-element-039800f {
  width: auto;
  max-width: auto;
}
.elementor-2
  .elementor-element.elementor-element-077d6d3
  .elementor-heading-title {
  font-family: "Helvetica", Sans-serif;
  font-size: 28px;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-81ebea6:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2
  .elementor-element.elementor-element-81ebea6
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #75583f;
}
.elementor-2 .elementor-element.elementor-element-81ebea6 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 20px 20px 20px 20px;
}
.elementor-2
  .elementor-element.elementor-element-81ebea6
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-element-5e328bd {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-5e328bd
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Helvetica", Sans-serif;
  font-size: 28px;
  font-weight: 600;
}
.elementor-2 .elementor-element.elementor-element-766b04c5 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.elementor-2
  .elementor-element.elementor-element-4a62b78a.elementor-view-stacked
  .elementor-icon {
  background-color: #75583f;
}
.elementor-2
  .elementor-element.elementor-element-4a62b78a.elementor-view-framed
  .elementor-icon,
.elementor-2
  .elementor-element.elementor-element-4a62b78a.elementor-view-default
  .elementor-icon {
  fill: #75583f;
  color: #75583f;
  border-color: #75583f;
}
.elementor-2 .elementor-element.elementor-element-4a62b78a {
  --icon-box-icon-margin: 10px;
}
.elementor-2
  .elementor-element.elementor-element-4a62b78a
  .elementor-icon-box-title {
  margin-bottom: 5px;
}
.elementor-2
  .elementor-element.elementor-element-4a62b78a
  .elementor-icon-box-title,
.elementor-2
  .elementor-element.elementor-element-4a62b78a
  .elementor-icon-box-title
  a {
  font-family: "Roboto", Sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-4a62b78a
  .elementor-icon-box-description {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-4a62b78a
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.elementor-2
  .elementor-element.elementor-element-7534462a.elementor-view-stacked
  .elementor-icon {
  background-color: #75583f;
}
.elementor-2
  .elementor-element.elementor-element-7534462a.elementor-view-framed
  .elementor-icon,
.elementor-2
  .elementor-element.elementor-element-7534462a.elementor-view-default
  .elementor-icon {
  fill: #75583f;
  color: #75583f;
  border-color: #75583f;
}
.elementor-2 .elementor-element.elementor-element-7534462a {
  --icon-box-icon-margin: 10px;
}
.elementor-2
  .elementor-element.elementor-element-7534462a
  .elementor-icon-box-title {
  margin-bottom: 5px;
}
.elementor-2
  .elementor-element.elementor-element-7534462a
  .elementor-icon-box-title,
.elementor-2
  .elementor-element.elementor-element-7534462a
  .elementor-icon-box-title
  a {
  font-family: "Roboto", Sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.elementor-2
  .elementor-element.elementor-element-7534462a
  .elementor-icon-box-description {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-7534462a
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.elementor-2
  .elementor-element.elementor-element-47f3ed73
  > .elementor-element-populated {
  margin: -33px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-2 .elementor-element.elementor-element-76c94d84 {
  width: var(--container-widget-width, 100%);
  max-width: 100%;
  --container-widget-width: 100%;
  --container-widget-flex-grow: 0;
}
.elementor-2
  .elementor-element.elementor-element-1fe28518
  > .elementor-container {
  max-width: 591px;
}
.elementor-2
  .elementor-element.elementor-element-21a8f4df.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-2
  .elementor-element.elementor-element-21a8f4df
  > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #2f97cf;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-2
  .elementor-element.elementor-element-21a8f4df
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
@media (min-width: 768px) {
  .elementor-2 .elementor-element.elementor-element-d68ccfe {
    width: 50%;
  }
  .elementor-2 .elementor-element.elementor-element-162269f0 {
    width: 50%;
  }
  .elementor-2 .elementor-element.elementor-element-b4a5bfb {
    width: 69.332%;
  }
  .elementor-2 .elementor-element.elementor-element-e037640 {
    width: 30%;
  }
  .elementor-2 .elementor-element.elementor-element-154576d {
    width: 74.911%;
  }
  .elementor-2 .elementor-element.elementor-element-f4ea2c8 {
    width: 24.915%;
  }
}
@media (max-width: 767px) {
  .elementor-2
    .elementor-element.elementor-element-5440421b:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-2
    .elementor-element.elementor-element-5440421b
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: center center;
  }
  .elementor-2
    .elementor-element.elementor-element-5440421b
    > .elementor-background-overlay {
    opacity: 0.67;
  }
  .elementor-2 .elementor-element.elementor-element-5440421b {
    padding: 10px 10px 10px 10px;
  }
  .elementor-2 .elementor-element.elementor-element-24e71bfd {
    text-align: center;
  }
  .elementor-2 .elementor-element.elementor-element-38f6160d {
    text-align: center;
  }
  .elementor-2
    .elementor-element.elementor-element-38f6160d
    .elementor-heading-title {
    font-size: 28px;
  }
  .elementor-2 .elementor-element.elementor-element-db8d5d8 {
    text-align: center;
  }
  .elementor-2
    .elementor-element.elementor-element-22ff83cd
    .elementor-heading-title {
    font-size: 22px;
  }
  .elementor-2 .elementor-element.elementor-element-6f180072 {
    text-align: center;
  }
  .elementor-2 .elementor-element.elementor-element-24c8c180 {
    text-align: left;
  }
  .elementor-2
    .elementor-element.elementor-element-24c8c180
    .elementor-heading-title {
    font-size: 22px;
  }
  .elementor-2
    .elementor-element.elementor-element-878002a
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-2
    .elementor-element.elementor-element-4d1b75
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-2
    .elementor-element.elementor-element-17dee8e8
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-2
    .elementor-element.elementor-element-4ea48a9
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-2
    .elementor-element.elementor-element-6beaea
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-2
    .elementor-element.elementor-element-12519176
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-2
    .elementor-element.elementor-element-6ebb9a5f
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-2
    .elementor-element.elementor-element-1f62961e
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-2
    .elementor-element.elementor-element-2f7b98ec
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-2
    .elementor-element.elementor-element-d6b3a8d
    .elementor-heading-title {
    font-size: 22px;
  }
  .elementor-2
    .elementor-element.elementor-element-573ef67
    .elementor-heading-title {
    font-size: 22px;
  }
  .elementor-2
    .elementor-element.elementor-element-988e6a5
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-2
    .elementor-element.elementor-element-621fa5a
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-2
    .elementor-element.elementor-element-c1370fa
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-2 .elementor-element.elementor-element-bbfcbb1 {
    text-align: center;
  }
  .elementor-2
    .elementor-element.elementor-element-bbfcbb1
    .elementor-heading-title {
    font-size: 22px;
  }
  .elementor-2
    .elementor-element.elementor-element-f4ea2c8.elementor-column
    > .elementor-widget-wrap {
    justify-content: center;
  }
}
